.loader-container {
  display: flex;
  /* width: 50px; */
  background-color: black;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #00050a07;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  animation: spin 1500ms linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
