.header {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 10% 1fr 40px 10%;
  background-color: rgb(0, 12, 8);
  color: rgba(255, 255, 255, 0.877);
  align-items: center;
  padding: 0 1rem;
}

.header .header-text {
  font-size: 1rem;
  font-weight: bold;
}

.header .streak {
  padding: 1rem;
  border: 2px solid gray;
  border-radius: 50%;
  height: 0.4rem;
  width: 0.8rem;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
